<mat-card fxLayout="row" fxLayoutAlign="space-between center">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    class="player-current-song-info"
  >
    <div class="song-image">
      <img
        *ngIf="currPlaying$ | async as curr"
        [src]="curr.images | loadImage"
        [alt]="curr?.name"
        [title]="curr?.name"
      />
    </div>
    <div class="song-name">{{ (currPlaying$ | async)?.name }}</div>
  </div>

  <div class="player-controls" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button>
      <mat-icon color="accent" role="img">fast_rewind</mat-icon>
    </button>
    <button
      class="player-button mat-primary"
      mat-mini-fab
      color="primary"
      (click)="play()"
    >
      <mat-icon *ngIf="(playing$ | async) === false" aria-label="Resume / Play"
        >play_arrow</mat-icon
      >
      <mat-icon *ngIf="playing$ | async" aria-label="Pause">pause</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Next" color="accent" aria-hidden="true"
        >fast_forward</mat-icon
      >
    </button>
  </div>

  <div
    class="player-secondary-controls"
    fxLayoutGap="10px"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div class="player-volume">
      <button mat-icon-button>
        <mat-icon class="mat-primary" aria-label="Volume">volume_up</mat-icon>
      </button>
    </div>
    <div class="player-volume-control">
      <mat-slider
        min="0"
        max="1"
        step="0.2"
        value="1"
        (change)="onVolChange($event)"
      ></mat-slider>
    </div>
  </div>
</mat-card>
