@import '../../../../../../libs/shared/ui/scss/variable';

.mat-card {
  width: 80vw;
  max-height: 65vh;
  overflow: hidden;
  overflow-y: auto;
}
.header {
  .header-image > img {
    border-radius: 100%;
    object-fit: cover;
    width: 80px;
    height: 80px;
  }

  .header-info .title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .save-playlist-link {
    display: block;
    margin-top: 3px;
  }
}

.song-list {
  margin-top: 10px;
  .song-item {
    button {
      background: 0 0;
      border: none;
      cursor: pointer;
    }

    .mat-icon {
      color: mat-color($mat-grey, 500);

      &:hover {
        color: $primary;
      }
    }
  }
}
